<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<!--
	CREATED BY : NITHYAPRIYA
	DATE       : 22-09-24
	PURPOSE    : BACP - CUST INQUIRES
	VERSION    : 01
-->

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/font-awesome/5.9.0/css/all.min.css"
	th:href="@{/webjars/font-awesome/5.9.0/css/all.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css"
	th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/datatables/1.10.19/css/jquery.dataTables.min.css"
	th:href="@{/webjars/datatables/1.10.19/css/jquery.dataTables.min.css}">
<link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
<link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">

<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script src="/webjars/popper.js/1.14.7/umd/popper.min.js"
	th:src="@{/webjars/popper.js/1.14.7/umd/popper.min.js}"></script>
<script src="/webjars/jquery/3.4.1/jquery.min.js"
	th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"
	th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>

<script src="/webjars/jquery-form/4.2.2/jquery.form.min.js"
	th:src="@{/webjars/jquery-form/4.2.2/jquery.form.min.js}"></script>

<script src="/webjars/jquery-validation/1.19.0/jquery.validate.min.js"
	th:src="@{/webjars/jquery-validation/1.19.0/jquery.validate.min.js}"></script>

<script src="/webjars/datatables/1.10.19/js/jquery.dataTables.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
<script
	src="/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js}"></script>




<style>
body {
	font-size: 0.8rem;
}

.btn {
	line-height: 0.5rem;
}

.table-bordered td, .table-bordered th {
	font-size: smaller;
}

.container-manager {
	width: 83.5%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: 17.3%;
	margin-top: 80px;
	margin-top: 80px;
}

.table .thead-light th {
	color: #495057;
	background-color: #e9ecef;
	border-color: #dee2e6;
	width: 23px;
}

.tablinks {
	background-color: #f2f2f2;
	color: #000;
}

.tablinks.active {
	background-color: #007bff;
	color: #fff;
}

.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

.scroll {
	max-height: 60vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
}

.tab button:hover {
	background-color: #ddd;
}

.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 0px solid #ccc;
	border-top: none;
}

#myPieChart {
	width: 100px;
	height: 100px;
}
</style>
<style>
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	margin-left: 350px;
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 70%;
	height: 50%;
	margin-left: 200px;
}

.modal-pass {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 40%;
	height: 25%;
	margin-left: 400PX;
	margin-right: auto;
	border-radius: 10px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
	font-family: Arial, sans-serif;
}

.close {
	color: red;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
</style>
<style>
.password-info {
	visibility: hidden;
	width: 320px;
	background-color: #333;
	color: #fff;
	text-align: left;
	border-radius: 10px;
	padding: 10px;
	position: absolute;
	z-index: 1;
	top: calc(100% + 10px);
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: opacity 0.3s;
}

input:hover+.password-info {
	visibility: visible;
	opacity: 0.8;
}
</style>

<script th:inline="javascript">
	/*<![CDATA[*/

	function list() {
		location.href = 'AuditInquiries?formmode=list';
	}
	function addparam() {
		location.href = "Parameters?formmode=add";
	}

	function audit_status() {
		location.href = 'AuditInquiries?formmode=audit_status';
	}

	function getReport(a) {
		//var report_date = a.getAttribute("data-report_date");
		var ref_si_no = a.getAttribute("data-audit_status");
		alert(ref_si_no);
		location.href = 'AuditInquiries?formmode=audit_status&ref_si_no='
				+ ref_si_no;
	}

	function back() {
		window.history.back();
	}
	function listradioclick(a) {

		var keynumber = a.getAttribute("data-keynumber");
		alert(keynumber)
		location.href = 'CustInquiries?formmode=edit&keynumber=' + keynumber
	}

	function fndashboard() {
		location.href = 'Dashboard'
	}
</script>
<script th:inline="javascript">
	/*<![CDATA[*/
	function submitform() {

		alert("submit");

		var url = "./createParameter";

		alert(url);

		$.ajax({
			url : './createParameter',
			data : $("#Parameterform").serialize(),
			type : 'POST',
			success : function(data) {
				alert("saved successfully");

			}

		});
	}
</script>
<script>
	//Filter Table mela
	$(document)
			.ready(
					function() {
						$('.filterable .btn-filter')
								.click(
										function() {
											var $panel = $(this).parents(
													'.filterable'), $filters = $panel
													.find('.filters input'), $tbody = $panel
													.find('.table tbody');
											if ($filters.prop('disabled') == true) {
												$filters
														.prop('disabled', false);
												$filters.first().focus();
											} else {
												$filters.val('').prop(
														'disabled', true);
												$tbody.find('.no-result')
														.remove();
												$tbody.find('tr').show();
											}
										});

						$('.filterable .filters input')
								.keyup(
										function(e) {
											/* Ignore tab key */
											var code = e.keyCode || e.which;
											if (code == '9')
												return;
											/* Useful DOM data and selectors */
											var $input = $(this), inputContent = $input
													.val().toLowerCase(), $panel = $input
													.parents('.filterable'), column = $panel
													.find('.filters th')
													.index($input.parents('th')), $table = $panel
													.find('.table'), $rows = $table
													.find('tbody tr');
											/* Dirtiest filter function ever ;) */
											var $filteredRows = $rows
													.filter(function() {
														var value = $(this)
																.find('td').eq(
																		column)
																.text()
																.toLowerCase();
														return value
																.indexOf(inputContent) === -1;
													});
											/* Clean previous no-result if exist */
											$table.find('tbody .no-result')
													.remove();
											/* Show all rows, hide filtered ones (never do that outside of a demo ! xD) */
											$rows.show();
											$filteredRows.hide();
											/* Prepend no-result row if all rows are filtered */
											if ($filteredRows.length === $rows.length) {
												$table
														.find('tbody')
														.prepend(
																$('<tr class="no-result text-center"><td colspan="'
																		+ $table
																				.find('.filters th').length
																		+ '">No result found</td></tr>'));
											}
										});
					});
</script>
<script type="text/javascript">
	$(document).ready(function() {
		$('input[name="radio2"]').change(function() {
			if ($(this).is(':checked')) {
				$('#myModal').modal('show');
			}
		});
		$('input[name="radio3"]').change(function() {
			if ($(this).is(':checked')) {
				$('#myModal1').modal('show');
			}
		});
		$('input[name="Radio4"]').change(function() {
			if ($(this).is(':checked')) {
				$('#myModal2').modal('show');
			}
		});
		$('input[name="Radio5"]').change(function() {
			if ($(this).is(':checked')) {
				$('#myModal3').modal('show');
			}
		});

	});

	function Close() {
		alert("2");
		$('#CallertuneYES').prop('checked', false);
		$('#CallertuneNO').prop('checked', true);
		$('#roamingYES').prop('checked', false);
		$('#roamingNO').prop('checked', true);
		$('#bankingYES').prop('checked', false);
		$('#bankingNO').prop('checked', true);
		$('#advertisingYES').prop('checked', false);
		$('#advertisingNO').prop('checked', true);
	};
</script>
<script>
	document.getElementById('eff_date').value = moment().format('DD-MMM-YYYY');

	$(document).ready(function() {
		$('#usertable').DataTable({

			"destroy" : true,
			"scrollY" : 400,
			"scrollCollapse" : true,
			"paging" : true,
			"autoWidth" : false,
			"ordering" : true,
			"searching" : false,
			"scrollX" : true,
			"pageLength" : 100,
			"lengthChange" : false,
			"font-size" : initial,

		});
	});
</script>




</head>

<body>

	<div class="col-sm-2">
		<div th:insert="BGLSHeaderMenu :: header"></div>
	</div>
	<!---------------------CustInquiries List Starts------------------------------------------------------->
	<!-- Start Content-->
	<div class="container-manager">



		<div class="row">


			<div class="col-sm-11 ml-5 mt-2" style="font-size: 0.8rem;">


				<!-- ------------------------------------CustInquiries- List---------------------------------- -->
				<div th:if="${formmode}=='list'">
					<div class="row">
						<div class="col-lg-10" style="margin-left: 250px">

							<div class="panel panel-primary filterable">
								<div class="card" style="margin-top: 10px; margin-right: -50px">
									<div class="card-header" style="background-color: #bbc3cb8a;">
										<div class="float-left">


											<h6 style="font-size: 20px">Audit Inquiries List</h6>
										</div>
										<div class="btn-group nav-buttons float-right">
											<button class="btn text-white border btn-filter btn-primary"
												type="button" style="font-size: 15px; text-align: center">Filter</button>
											<button type="button" class="btn btn-xs btn-primary btns"
												style="height: 40px; margin-left: 5px"
												onclick="fndashboard();">Dashboard</button>
										</div>
									</div>
									<div class="tableFixHead">
										<div class="card-body"
											style="padding: 0%; height: 700px; overflow-y: auto">

											<table class="table  table-bordered  table-hover table-sm">
												<thead class="thead-light">

													<tr class="filters">
														<th>Sr No</th>
														<th><input type="text" style="font-color: #000000;"
															class="form-control font-weight-bold"
															placeholder="Reference No" disabled></th>
														<th><input type="text" style="font-size: 15px"
															class="form-control font-weight-bold"
															placeholder="Request Date" disabled></th>
														<th><input type="text" style="font-size: 15px"
															class="form-control font-weight-bold"
															placeholder="Customer Name" disabled></th>
														<th><input type="text" style="font-size: 15px"
															class="form-control font-weight-bold"
															placeholder="Mobile No" disabled></th>
														<th><input type="text" style="font-size: 15px"
															class="form-control font-weight-bold"
															placeholder="Entry User" disabled></th>
														<th><input type="text" style="font-size: 15px"
															class="form-control font-weight-bold"
															placeholder="Verify User" disabled></th>
														<th><input type="text" style="font-size: 15px"
															class="form-control font-weight-bold"
															placeholder="Status" disabled></th>
														<th>Select</th>
													</tr>
												</thead>
												<tbody>

													<tr th:each="ail,iterator : ${inlist} "
														th:attr="data-keynumber=${ail.appl_ref_no}"
														th:id="${ail.appl_ref_no}" class="userlist">

														<td style="width: 50px" th:text="${iterator.index +1}">j</td>
														<td style="width: 125px" th:text="${ail.appl_ref_no}">j</td>
														<td style="width: 125px"
															th:text="${#dates.format(ail.entry_time, 'dd-MM-yyyy')}">j
														</td>
														<td style="width: 125px" th:text="${ail.full_name}">j</td>
														<td style="width: 125px" th:text="${ail.mbl_num}">j</td>
														<td style="width: 125px" th:text="${ail.entry_user}">j</td>
														<td style="width: 125px" th:text="${ail.verify_user}">j</td>
														<td style="width: 125px" th:text="${ail.status}">j</td>
														<td style="width: 34px;"><input type="radio"
															id="btnclick" name="btnradio"
															th:attr="data-keynumber=${ail.appl_ref_no}"
															th:id="${ail.appl_ref_no}" onclick="listradioclick(this)">
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<div class="card-footer" style="text-align: center">

										<button Style="width: 100px; height: 30px;"
											class="btn btn-xs btn-primary btns" type="button"
											id="Dashboard" onclick="contentLoad(this)">Home</button>

										<button Style="width: 100px; height: 30px;"
											class="btn btn-xs btn-primary btns" type="button"
											id="btnBack" onclick="back();">Back</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!---------------------Edit list start--------------------------------------------------------->


				<div th:if="${formmode}=='edit'">
					<div class="row">
						<div class="col-lg-10" style="margin-left: 250px">
							<div class="card" style="margin-top: 10px; margin-right: -50px">
								<form id="ail1" th:each="ail1 : ${inlist1}"
									th:attr="data-keynumber=${ail1.appl_ref_no}"
									th:id="${ail1.appl_ref_no}" class="userlist">
									<div class="card">
										<div class="card-header" style="background-color: #bbc3cb8a;">
											<div class="float-left">
												<h6 style="font-size: 20px">Audit Inquiries</h6>
											</div>
											<table class="table table-bordered table-hover table-sm"
												style="margin-bottom: 0px" id="usertable">
												<thead class="thead-light">
													<tr>
														<td>Reference No:</td>
														<td><input type="text" class="form-control"
															th:value="${ail1.appl_ref_no}" id="refno" readonly /></td>
														<td>Customer Name:</td>
														<td><input type="text" class="form-control"
															th:value="${ail1.full_name}" id="cusname" readonly /></td>
														<td>Application Status:</td>
														<td><input type="text" class="form-control"
															th:value="${ail1.status}" id="appstatus" readonly /></td>
													</tr>
												</thead>
											</table>
										</div>

										<div class="tableFixHead">
											<div class="card-body"
												style="padding: 0%; height: 650px; overflow-y: auto;">
												<table class="table table-bordered table-hover table-sm"
													id="usertable">
													<thead class="thead-light">
														<tr>
															<th>Date</th>
															<th>Audit Ref No</th>
															<th>Operation</th>
															<th>Table Name</th>
															<th>Screen Name</th>
															<th>Entry User</th>
															<th>Entry Time</th>
															<th>Modify User</th>
															<th>Modify Time</th>
															<th>Verify User</th>
															<th>Verify Time</th>
															<th>KYC User</th>
															<th>KYC Time</th>
															<th>Remarks</th>
															<th>Status</th>
														</tr>
													</thead>
													<tbody>
														<tr th:each="ail : ${inlist}"
															th:attr="data-keynumber=${ail.audit_key_no}"
															th:id="${ail.audit_key_no}" class="userlist">
															<td
																th:text="${#dates.format(ail.audit_date, 'dd-MM-yyyy')}"
																style="width: 125px">j</td>
															<td th:case="'MODIFY RECORD'" style="width: 125px">
																<a th:text="${ail.audit_ref_no}"
																th:href="@{'/AuditInquiries?refnumber='+${ail.audit_ref_no}+'&keynumber='+${ail.audit_key_no}+'&formmode=reco'}"></a>
															</td>
															<td style="width: 125px" th:text="${ail.func_details}">j</td>
															<td style="width: 125px" th:text="${ail.audit_table}">j</td>
															<td style="width: 125px" th:text="${ail.audit_screen}">j</td>
															<td style="width: 125px" th:text="${ail.entry_user}">j</td>
															<td
																th:text="${#dates.format(ail.entry_time, 'dd-MM-yyyy hh:mm:ss')}"
																style="width: 125px">j</td>
															<td style="width: 125px" th:text="${ail.modify_user}">j</td>
															<td
																th:text="${#dates.format(ail.modify_time, 'dd-MM-yyyy hh:mm:ss')}"
																style="width: 125px">j</td>
															<td style="width: 125px" th:text="${ail.auth_user}">j</td>
															<td
																th:text="${#dates.format(ail.auth_time, 'dd-MM-yyyy hh:mm:ss')}"
																style="width: 125px">j</td>
															<td style="width: 125px" th:text="${ail.kyc_user}">j</td>
															<td
																th:text="${#dates.format(ail.kyc_time, 'dd-MM-yyyy hh:mm:ss')}"
																style="width: 125px">j</td>
															<td style="width: 125px" th:text="${ail.func_details}">j</td>
															<td th:case="'INITIATED'">Pending</td>
															<td th:case="'IN-PROGRESS'">Pending</td>
															<td th:case="'APPROVED'">Authorized</td>
															<td th:case="'HOLD'">Pending</td>
															<td th:case="'ACTIVATED'">Authorized</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>

										<div class="card-footer text-center">
											<button class="btn btn-xs btn-primary"
												style="width: 100px; height: 30px;" id="Dashboard"
												onclick="contentLoad(this)">Home</button>
											<button class="btn btn-xs btn-primary"
												style="width: 100px; height: 30px;" id="btnBack"
												onclick="back();">Back</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

				<!------------------ RECO -------------------------------->
				<div th:if="${formmode}=='reco'">
					<div class="row">
						<div class="col-lg-10" style="margin-left: 250px">
							<div class="card" style="margin-top: 10px; margin-right: -50px">
								<div class="card-header" style="background-color: #bbc3cb8a;">

									<div class="float-left">

										<h6 style="font-size: 20px">Audit Inquiries</h6>
									</div>
									<table class="table  table-bordered  table-hover table-sm"
										style="margin-bottom: 0px" id="usertable">
										<div class="card">
											<thead class="thead-light">
												<tr id="ail" th:each="ail : ${inlist1} "
													th:id="${ail.appl_ref_no}" class="userlist">
													<td>Reference No:</td>
													<td><input type="text" class="form-control"
														th:value="${ail.appl_ref_no}" id="refno" readonly /></td>
													<td>Customer Name :</td>
													<td><input type="text" class="form-control"
														th:value="${ail.full_name}" id="cusname" readonly /></td>
													<td>Application Status :</td>
													<td><input type="text" class="form-control"
														th:value="${ail.status}" id="appstatus" readonly /></td>
												</tr>
											</thead>
									</table>
									<!-- <div class="btn-group nav-buttons float-right">
											<button type="button" class="btn btn-xs btn-primary btns"
												id="btnAdd" onclick="adduser();">Create User</button>
											<button type="button"
												class="btn btn-xs btn-primary btns active" id="btnInq"
												onclick="list()" style="border-color: #66dbe0;">List</button>
										</div> -->
								</div>
								<div class="tableFixHead">
									<div class="card-body"
										style="padding: 0%; height: 650px; overflow-y: auto">
										<table class="table  table-bordered  table-hover table-sm"
											style="margin-bottom: 0px" id="usertable">
											<thead class="thead-light">
												<tr>
													<th>Date</th>
													<th>Table Name</th>
													<th>Field Name</th>
													<th>Screen Literal</th>
													<th>Old value</th>
													<th>New value</th>
													<th>Remarks</th>
													<th>Modify User</th>
													<th>Verify User</th>
												</tr>
											</thead>
											<tbody>
												<tr id="ail" th:each="ail : ${inlist} "
													th:id="${ail.audit_key_no}" class="userlist">
													<td style="width: 125px"
														th:text="${#dates.format(ail.audit_date, 'dd-MM-yyyy')}">
														j</td>
													<td style="width: 125px" th:text="${ail.audit_table}">j</td>
													<td style="width: 125px" th:text="${ail.fieldName}"></td>
													<td style="width: 125px" th:text="${ail.audit_screen}">j
													</td>
													<td style="width: 125px" th:text="${ail.oldvalue}"></td>
													<td style="width: 125px" th:text="${ail.newvalue}"></td>
													<td style="width: 125px" th:text="${ail.func_details}">j
													</td>
													<td style="width: 125px" th:text="${ail.modify_user}">j</td>
													<td style="width: 125px" th:text="${ail.auth_user}">j</td>

												</tr>

											</tbody>
										</table>
									</div>
									<!-- </div> -->
								</div>
								<div class="card-footer" style="text-align: center">

									<button Style="width: 100px; height: 30px;"
										class="btn btn-xs btn-primary btns" type="button"
										id="Dashboard" onclick="contentLoad(this)">Home d</button>

									<button Style="width: 100px; height: 30px;"
										class="btn btn-xs btn-primary btns" type="button" id="btnBack"
										onclick="back();">Back</button>
								</div>
							</div>
						</div>
					</div>
				</div>


				<!-- ------------------------------------CustInquiries- View---------------------------------- -->
				<div th:if="${formmode}=='add'">


					<div class="card w-100 border">

						<div class="card-header"
							style="background-color: #e9ecef; height: 50px">
							<div class="float-left">
								<h6 style="font-size: 1.5rem;">USER PROFILE-ADD</h6>

							</div>


						</div>
						<div class="card-body">

							<form class=" border border-secondary" action="#" method="post"
								autocomplete="off" id="userProfile">


								<div class="row formline" style="padding: 15px 0px 2px 0px;">
									<div class="col-sm-1"></div>
									<div class="col-sm-2">
										<label for="userId">User Id</label>
									</div>
									<div class="col-sm-2">
										<input type="text" id="userid"
											class="form-control form-control-sm bg-white border border-dark"
											name="userid" autocomplete="off" required />
									</div>
									<div class="col-sm-1">

										<a th:if="${formmode}=='add'" href="#"><i
											class="fas fa-search searchico" data-toggle="modal"
											data-target="#finusers" id="iconacc" hidden></i></a>
									</div>
									<div class="col-sm-2">
										<label for="username">User Name</label>
									</div>
									<div class="col-sm-2">
										<input type="text" id="username" name="username"
											class="form-control form-control-sm bg-white border border-dark"
											autocomplete="false" required />
									</div>
								</div>





								<div class="row formline" style="padding: 0px 0px 2px 0px;">

									<div class="col-sm-1"></div>


									<label class="col-sm-2">Mobile No</label>
									<div class="col-sm-2">
										<input type="text" id="mobNo" maxlength="10" name="mob_number"
											class="form-control form-control-sm bg-white border border-dark"
											autocomplete="off" required />
									</div>
									<div class="col-sm-1"></div>


									<label class="col-sm-2">Email Id</label>
									<div class="col-sm-2">
										<input type="email" id="emailId" name="email_id"
											class="form-control form-control-sm bg-white border border-dark"
											autocomplete="off" required />
									</div>

								</div>



								<div class="row formline" style="padding: 0px 0px 2px 0px;">

									<div class="col-sm-1"></div>


									<label class="col-sm-2">User Disable Date</label>
									<div class="col-sm-2">
										<input type="text" id="disableDate" name="disable_start_date"
											class="form-control form-control-sm bg-white border border-dark"
											autocomplete="off" required />
									</div>
									<div class="col-sm-1"></div>


									<label class="col-sm-2">User Disable Till Date</label>
									<div class="col-sm-2">
										<input type="text" name="disable_end_date" id="disableTilDate"
											class="form-control form-control-sm bg-white border border-dark"
											required />
									</div>

								</div>


								<div class="row formline" style="padding: 0px 0px 2px 0px;">
									<div class="col-sm-1"></div>


									<label class="col-sm-2">Password</label>
									<div class="col-sm-2">
										<input type="text" id="password" name="password"
											value="Bornfire@123"
											class="form-control form-control-sm bg-white border border-dark"
											autocomplete="off" readonly />
									</div>
									<div class="col-sm-1"></div>

									<label class="col-sm-2">Password Expiry Date</label>
									<div class="col-sm-2">
										<input type="text" id="passExDate" name="pass_exp_date"
											class="form-control form-control-sm bg-white border border-dark"
											required />
									</div>
									<div class="col-sm-1"></div>
								</div>


								<div class="row formline" style="padding: 0px 0px 2px 0px;">
									<div class="col-sm-1"></div>


									<label class="col-sm-2">User Status</label>
									<div class="col-sm-2">
										<select id="userStatus" name="user_status"
											class="form-control form-control-sm bg-white border border-dark"
											autocomplete="off" required>

											<option value="Active">Active</option>
											<option value="Inactive">Inactive</option>
										</select>
									</div>
									<div class="col-sm-1"></div>
									<label class="col-sm-2">Login Status</label>
									<div class="col-sm-2">
										<select id="loginStatus" name="login_status"
											class="form-control form-control-sm bg-white border border-dark"
											autocomplete="off" required>

											<option value="Active">Active</option>
											<option value="Inactive">Inactive</option>

										</select>
									</div>

								</div>
								<div class="row formline" style="padding: 0px 0px 10px 0px;">
									<div class="col-sm-1"></div>

									<label class="col-sm-2">Account Expiry Date</label>
									<div class="col-sm-2">
										<input type="text" id="acctexpiryDate" name="acc_exp_date"
											class="form-control form-control-sm bg-white border border-dark"
											required />
									</div>

								</div>

								<div class="card-header"
									style="background-color: #e9ecef; height: 50px; padding: 11px 15px;">
									<div class="float-left" style="padding-left: 100px;">
										<h6 style="font-size: 1.5rem;">ROLE AND RIGHTS</h6>


									</div>


								</div>


								<div class="row formline mt-3" style="padding: 0px 0px 2px 0px;">
									<div class="col-sm-1"></div>


									<label class="col-sm-2">Role Id</label>
									<div class="col-sm-2">
										<select id="roleId" name="role_id"
											class="form-control form-control-sm bg-white border border-dark"
											onchange="roledesc();" autocomplete="off" required>
											<option value="">Select</option>
											<option value="ADM">ADM</option>
											<option value="GEN">GEN</option>

										</select>
									</div>
									<div class="col-sm-1"></div>
									<label class="col-sm-2">Role Description</label>
									<div class="col-sm-2">
										<input type="text" id="roleDesc" readonly name="role_desc"
											class="form-control form-control-sm bg-white border border-dark" />
									</div>

								</div>



								<div class="row formline" style="padding: 0px 0px 10px 0px;">
									<div class="col-sm-1"></div>

									<label class="col-sm-2">Permissions</label>
									<div class="col-sm-2">
										<select id="permission" name="permissions"
											class="form-control form-control-sm bg-white border border-dark"
											autocomplete="off" required>
											<option value="">Select</option>
											<option value="R">Read</option>
											<option value="W">Write</option>
										</select>
									</div>
									<div class="col-sm-1"></div>

									<label class="col-sm-2">Work Class</label>
									<div class="col-sm-2">
										<select id="work_class" name="work_class"
											class="form-control form-control-sm bg-white border border-dark"
											autocomplete="off" required>
											<option value="">Select</option>
											<option value="M">Maker</option>
											<option value="C">Checker</option>
										</select>
									</div>
								</div>

							</form>
						</div>

						<div class="card-footer text-center mt-3">




							<button type="button" class="btn btn-xs btn-primary p-2"
								id="btnHome" onclick="Home();">Home</button>
							<button type="button" class="btn btn-xs btn-primary p-2"
								id="btnSubmit" onclick="submitform();">Submit</button>
							<button type="button" class="btn btn-xs btn-primary p-2"
								id="btnBack" onclick="Back();">Back</button>


						</div>
					</div>


				</div>


			</div>



		</div>
	</div>


</body>

</html>




