<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/font-awesome/5.9.0/css/all.min.css"
	th:href="@{/webjars/font-awesome/5.9.0/css/all.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css"
	th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/datatables/1.10.19/css/jquery.dataTables.min.css"
	th:href="@{/webjars/datatables/1.10.19/css/jquery.dataTables.min.css}">
<link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
<link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">

<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script src="/webjars/popper.js/1.14.7/umd/popper.min.js"
	th:src="@{/webjars/popper.js/1.14.7/umd/popper.min.js}"></script>
<script src="/webjars/jquery/3.4.1/jquery.min.js"
	th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"
	th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>

<script src="/webjars/jquery-form/4.2.2/jquery.form.min.js"
	th:src="@{/webjars/jquery-form/4.2.2/jquery.form.min.js}"></script>

<script src="/webjars/jquery-validation/1.19.0/jquery.validate.min.js"
	th:src="@{/webjars/jquery-validation/1.19.0/jquery.validate.min.js}"></script>

<script src="/webjars/datatables/1.10.19/js/jquery.dataTables.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
<script
	src="/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js}"></script>




<style>
.btn {
	line-height: 0.5rem;
}

.table-bordered td, .table-bordered th {
	font-size: smaller;
}

.container-manager {
	width: 83.5%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: 17.3%;
	margin-top: 80px;
	margin-top: 80px;
}

.table .thead-light th {
	color: #495057;
	background-color: #e9ecef;
	border-color: #dee2e6;
	width: 23px;
}
</style>
<style>
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	margin-left: 350px;
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 70%;
	height: 50%;
	margin-left: 200px;
}

.modal-pass {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 40%;
	height: 25%;
	margin-left: 400PX;
	margin-right: auto;
	border-radius: 10px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
	/* Adding shadow for depth */
	font-family: Arial, sans-serif; /* Using a more common font */
}

.close {
	color: red;
	font-size: 28px;
	font-weight: bold;
}
</style>
<style>
.password-info {
	visibility: hidden;
	width: 320px;
	background-color: #333;
	color: #fff;
	text-align: left;
	border-radius: 10px;
	padding: 10px;
	position: absolute;
	z-index: 1;
	top: calc(100% + 10px);
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: opacity 0.3s;
}

input:hover+.password-info {
	visibility: visible;
	opacity: 0.8;
}
</style>

<script>
	function Home() {

		location.href = 'Dashboard';
	}

	function Back() {
		window.history.back();
	}
	
	function add() {
		alert("add")
		location.href = 'perdiemMaster?formmode=add';

	}
</script>

</head>


<body>

	<div class="col-sm-2">
		<div th:insert="BGLSHeaderMenu :: header"></div>
	</div>
	<!---------------------User List Starts------------------------------------------------------->
	<!-- Start Content-->
	<div class="container-manager">
		<div class="row">
			<div class="col-sm-11 ml-5 mt-2">

				<div th:if="${formmode}=='list'">
						<div class="row">
							
								<div class="card w-100 border">
									<div class="card-header" style="background-color: #e9ecef">
										<div class="float-left">
											<h4>PERDIEM MASTER</h4>
										</div>
										<div class="btn-group nav-buttons float-right"
											style="padding: 5px;">
											<button class="btn btn-primary p-2" onclick="add();">Add</button>
										</div>
									</div>

									<div class="card-body"
										style="margin-top: -21px; margin-left: -21px; margin-right: -20px;">
										<div class="table-responsive">
											<table class="table  table-bordered  table-hover table-sm">
												<thead class="thead-light">
													<tr
														style="white-space: nowrap; overflow: hidden; text-align: center"
														class="align-bottom">
														<th>EMP ID</th>
														<th>EMP NAME</th>
														<th>DE SIGN</th>
														<th>PROJECT</th>
														<th>START DATE</th>
														<th>END DATE</th>
														<th>NO OF DAYS</th>
														<th>USD DIS</th>
														<th>INR DIS</th>
														<th>SELECT</th>
													</tr>
												</thead>
												<tbody id="placelist">
													<tr th:each="details : ${list1}">

														<td th:text="${details.emp_no}"></td>
														<td th:text="${details.emp_name}"></td>
														<td th:text="${details.emp_desig}"></td>
														<td th:text="${details.proj_name}"></td>
														<td th:text="${#dates.format(details.period_from,'dd-MM-yyyy')}"></td>
														<td th:text="${#dates.format(details.period_to,'dd-MM-yyyy')}"></td>
														<td th:text="${details.no_of_days}" style="text-align:right"></td>
														<td th:text="${details.amount_usd}" style="text-align:right"></td>
														<td th:text="${details.amount_inr}" style="text-align:right"></td>
														
														 
														 <td style="text-align: center">
										<div class="dropdown">

											<button class="btn btn-secondary dropdown-toggle"
												type="button" id="dropdownMenuButton" title="action"
												style="line-height: 0.7; font-size: 11px; color: #3a4550; background: #e3e3e4;"
												data-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false">Action</button>

											<div class="dropdown-menu"
												aria-labelledby="dropdownMenuButton"
												style="background-color: #e3e3e4; color: #3a4550;">


												<a th:attr="data-emp_no=${details.emp_no}"
													class="dropdown-item" title="View"
													style="cursor: pointer; height: 20px; color: #3a4550; background: #e3e3e4; height: 16px; border-radius: .20rem; padding: 2px 10px; top: 10px;"
													onclick="view(this)" id="view_btn">View </a>
												<div class="dropdown-divider"></div>


												<a th:attr="data-emp_no=${details.emp_no}"
													class="dropdown-item" title=" Delete"
													style="cursor: pointer; height: 20px; color: #3a4550; background: #e3e3e4; height: 16px; border-radius: .20rem; padding: 2px 10px; top: 10px;"
													id="delete" onclick="Delete(this)">Delete</a>
												<div class="dropdown-divider"></div>


											</div>

										</div>
									</td> 
													</tr>
												</tbody>
											</table>
											<div class="card-footer text-center"
												style="background-color: #e9ecef">
												<button class="btn btn-primary p-2" onclick="Home();">Home</button>
												<button class="btn btn-primary p-2" onclick="Back();">Back</button>
											</div>
										</div>
									</div>

								</div>
							
						</div>
					</div>
					
					<div th:if="${formmode}=='add'">
						<div class="row">
								
									<div class="card w-100 border">
										<div class="card-header">
											<div>
												<div class="float-left">
													<h5 th:if="${formmode}=='add'">PERDIEM MASTER</h5>
												</div>
											</div>
										</div>
									<form class=" border border-secondary" action="#" id="permasid" method="post">
										<div class="card-body">
											<div class="row formline" style="padding: 0px 0px 2px 0px;">


												<div class="col-sm-1"></div>
												<div class="col-sm-2">Employee Id</div>


												<div class="col-sm-2">
													<input type="text" name="emp_no" id="emp_no" class="form-control form-control-sm bg-white border border-dark" />

												</div>

												<div class="col-sm-1"></div>
												<div class="col-sm-2">Fianancial Year</div>
												<div class="col-sm-2">

													<input type="text" name="fin_year" id="fin_year" class="form-control form-control-sm bg-white border border-dark" />

												</div>
											</div>
											
											<div class="row formline" style="padding: 0px 0px 2px 0px;">


												<div class="col-sm-1"></div>
												<div class="col-sm-2">Employee Name</div>


												<div class="col-sm-2">
													<input type="text" name="emp_name" id="emp_name" class="form-control form-control-sm bg-white border border-dark" />

												</div>

												<div class="col-sm-1"></div>
												<div class="col-sm-2">Eligibility</div>
												<div class="col-sm-2">

													<input type="text" name="eligibility" id="eligibility" class="form-control form-control-sm bg-white border border-dark" />

												</div>
											</div>
											
											<div class="row formline" style="padding: 0px 0px 2px 0px;">


												<div class="col-sm-1"></div>
												<div class="col-sm-2">Designation</div>


												<div class="col-sm-2">
													<input type="text" name="emp_desig" id="emp_desig" class="form-control form-control-sm bg-white border border-dark" />

												</div>

												<div class="col-sm-1"></div>
												<div class="col-sm-2">Eligible Currency</div>
												<div class="col-sm-2">

													<input type="text" name="eligible_currency" id="eligible_currency" class="form-control form-control-sm bg-white border border-dark" />

												</div>
											</div>
											
											<div class="row formline" style="padding: 0px 0px 2px 0px;">


												<div class="col-sm-1"></div>
												<div class="col-sm-2">Date of Birth</div>


												<div class="col-sm-2">
													<input type="text" name="date_of_birth" id="date_of_birth" placeholder="dd-mm-yyyy" class="form-control form-control-sm bg-white border border-dark" />

												</div>

												<div class="col-sm-1"></div>
												<div class="col-sm-2">Eligible Amount</div>
												<div class="col-sm-2">

													<input type="text"  name="eligible_amount" id="eligible_amount" class="form-control form-control-sm bg-white border border-dark" />

												</div>
											</div>
											
											<div class="row formline" style="padding: 0px 0px 2px 0px;">


												<div class="col-sm-1"></div>
												<div class="col-sm-2">Date of Joining</div>


												<div class="col-sm-2">
													<input type="text" placeholder="dd-mm-yyyy" name="date_of_joining" id="date_of_joining" class="form-control form-control-sm bg-white border border-dark" />

												</div>

												<div class="col-sm-1"></div>
												<div class="col-sm-2">Mobile</div>
												<div class="col-sm-2">

													<input type="text" name="mobile_no" id="mobile_no" class="form-control form-control-sm bg-white border border-dark" />

												</div>
											</div>
											
											<div class="row formline" style="padding: 0px 0px 2px 0px;">


												<div class="col-sm-1"></div>
												<div class="col-sm-2">Project Name</div>


												<div class="col-sm-2">
													<input type="text" name="proj_name" id="proj_name" class="form-control form-control-sm bg-white border border-dark" />

												</div>

												<div class="col-sm-1"></div>
												<div class="col-sm-2">Email Id</div>
												<div class="col-sm-2">

													<input type="text" name="email_id" id="email_id" class="form-control form-control-sm bg-white border border-dark" />

												</div>
											</div>
											
											<div class="row formline" style="padding: 0px 0px 2px 0px;">


												<div class="col-sm-1"></div>
												<div class="col-sm-2">Location</div>


												<div class="col-sm-2">
													<input type="text" name="location" id="location" class="form-control form-control-sm bg-white border border-dark" />

												</div>

												<div class="col-sm-1"></div>
												<div class="col-sm-2">Bank</div>
												<div class="col-sm-2">

													<input type="text" name="bank_name" id="bank_name" class="form-control form-control-sm bg-white border border-dark" />

												</div>
											</div>
											
											<div class="row formline" style="padding: 0px 0px 2px 0px;">


												<div class="col-sm-1"></div>
												<div class="col-sm-2">Travel Date</div>


												<div class="col-sm-2">
													<input type="text" placeholder="dd-mm-yyyy" name="travel_date" id="travel_date" class="form-control form-control-sm bg-white border border-dark" />

												</div>

												<div class="col-sm-1"></div>
												<div class="col-sm-2">Account No</div>
												<div class="col-sm-2">

													<input type="text" name="bank_acct_no" id="bank_acct_no" class="form-control form-control-sm bg-white border border-dark" />

												</div>
											</div>
											
										</div>
									</form>
										<div class="card-footer text-center"
											style="background-color: #e9ecef">


											<button class="btn btn-primary p-2" onclick="Home();">Home</button>
											<button class="btn btn-primary p-2" onclick="Submit();">Submit</button>
											<button class="btn btn-primary p-2" onclick="Back();">Back</button>

										</div>
						
										
									</div>
								
						</div>
					</div>
					
					
			</div>
		</div>
	</div>


</body>
</html>
